[class^="btn-"], [class*=" btn-"] { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline-block; vertical-align: middle; cursor: pointer; text-transform: uppercase; color: white; -webkit-border-radius: 4px; border-radius: 4px; }
[class^="btn-"]:hover, [class*=" btn-"]:hover { -moz-transition: 0.1s; -o-transition: 0.1s; -webkit-transition: 0.1s; -ms-transition: 0.1s; transition: 0.1s; }
[class^="btn-"]:active, [class*=" btn-"]:active { -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); transform: scale(0.95); }

.btn-middle { padding: 5px 15px; font-size: 11px; font-size: 1.1rem; }

.btn-small { padding: 3px 7px; font-size: 9px; font-size: 0.9rem; }

.btn-orange { background: #ff8532; color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); font-family: Arial, Tahoma, sans-serif; }
.btn-orange:hover { background: #ff944c; }

[class^="i-"], [class*=" i-"] { display: inline-block; vertical-align: middle; }

.i-serch { background: url('../img/icons-scc6848ed69.png') 0 -408px no-repeat; width: 16px; height: 18px; }

.i-home { background: url('../img/icons-scc6848ed69.png') 0 -473px no-repeat; width: 16px; height: 16px; }
.i-home:hover { opacity: 0.8; }

.i-vk { background: url('../img/icons-scc6848ed69.png') 0 -330px no-repeat; width: 16px; height: 16px; }

.i-tw { background: url('../img/icons-scc6848ed69.png') 0 -356px no-repeat; width: 16px; height: 16px; }

.i-fb { background: url('../img/icons-scc6848ed69.png') 0 -382px no-repeat; width: 16px; height: 16px; }

.i-lj { background: url('../img/icons-scc6848ed69.png') 0 -265px no-repeat; width: 16px; height: 16px; }

.i-message { background: url('../img/icons-scc6848ed69.png') 0 -291px no-repeat; width: 37px; height: 29px; }

.i-indian-grass { background: url('../img/icons-scc6848ed69.png') 0 -66px no-repeat; width: 31px; height: 11px; }

.i-mess { background: url('../img/icons-scc6848ed69.png') 0 -499px no-repeat; width: 12px; height: 10px; }

.i-basc { background: url('../img/icons-scc6848ed69.png') 0 -519px no-repeat; width: 11px; height: 14px; }

.i-arr_l { background: url('../img/icons-scc6848ed69.png') 0 -585px no-repeat; width: 8px; height: 13px; }

.i-arr_r { background: url('../img/icons-scc6848ed69.png') 0 -608px no-repeat; width: 8px; height: 13px; }

.i-arr_t { background: url('../img/icons-scc6848ed69.png') 0 -564px no-repeat; width: 18px; height: 11px; }

* { margin: 0; padding: 0; }

html { font-size: 62.5%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; line-height: 1.4; font-size: 14px; }

.clearfix:after { display: block; visibility: hidden; clear: both; height: 0; content: ""; font-size: 0; line-height: 0; }

html, button, input, select, textarea { color: #222222; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio, canvas, img, svg, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; overflow: auto; vertical-align: top; }

ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { border: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: yellow; color: black; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

.l-sidebar { width: 234px; }

.l-sidebar_l { float: left; }

.l-content { width: 688px; float: left; }

html, body { height: 100%; }

a { text-decoration: underline; }
a:hover { text-decoration: none; }

.dark-blue { color: #48606f; }

.orange { color: #ff8532; }

.green { color: #27861b; }

.out { min-height: 100%; height: auto !important; height: 100%; }

.bg { min-height: 470px; margin-top: -42px; padding-top: 72px; background: url(../img/bg.jpg) 0px 0px no-repeat; position: absolute; top: 142px; left: 0; right: 0; z-index: 666; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.bg:after { content: ""; width: 100%; height: 20px; background: linear-gradient(to top, rgba(250, 251, 253, 0.055), rgba(156, 183, 202, 0.2)); z-index: 1999; position: absolute; top: 42px; }

.header { font-size: 0; overflow: hidden; }
.header .header__in { width: 980px; margin: 0 auto; }

.topper { padding: 18px 10px 0px; margin-bottom: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.topper:before, .topper:after { content: ""; display: table; }
.topper:after { clear: both; }

.logo { margin-right: 40px; vertical-align: middle; float: left; background: url('../img/icons-scc6848ed69.png') 0 -198px no-repeat; width: 229px; height: 57px; }

.search { margin-top: 13px; float: left; overflow: hidden; }
.search input { width: 425px; padding: 11px 15px; border: 1px solid #b8d5e8; border-right-width: 0px; float: left; outline: none; color: #7598af; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; font-size: 12px; font-size: 1.2rem; }
.search input::-webkit-input-placeholder { color: #7598af; }
.search input:-moz-placeholder { color: #7598af; }
.search button { width: 46px; height: 39px; float: left; background: #27861b; font-size: 0; border: none; outline: none; -webkit-border-radius: 0px 2px 2px 0; border-radius: 0px 2px 2px 0; position: relative; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; }
.search button:after { content: ""; position: absolute; top: 11px; left: 14px; background: url('../img/icons-scc6848ed69.png') 0 -408px no-repeat; width: 16px; height: 18px; }
.search button:hover { -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; background: #2d9b1f; }

.user { margin: 20px 30px 0 0; float: right; font-size: 13px; font-size: 1.3rem; }
.user .i-home { margin-right: 3px; }
.user .user__name { color: #27861b; font-size: 13px; cursor: pointer; position: relative; }
.user .user__name:after { content: ""; position: absolute; top: 5px; right: -15px; width: 0px; height: 0px; border-style: solid; border-width: 6px 4.5px 0 4.5px; border-color: #828e5f transparent transparent transparent; }
.user ul { display: none; }

nav { position: relative; display: inline-block; }
nav:after, nav:before { content: ""; width: 2000px; height: 42px; background: white; position: absolute; top: 0; z-index: 777; }
nav:after { right: -2000px; }
nav:before { left: -2000px; }
nav ul { list-style: none; *zoom: 1; }
nav ul:before, nav ul:after { content: ""; display: table; }
nav ul:after { clear: both; }
nav li { float: left; background: white; }
nav li.is-active { background: linear-gradient(to top, rgba(152, 180, 200, 0.2), rgba(29, 90, 135, 0.99)); z-index: 999; position: relative; }
nav li.is-active a { color: white; background: initial; }
nav a { height: 42px; line-height: 42px; padding: 0 25px; display: block; position: relative; z-index: 777; background: white; font-weight: bold; color: #27861b; text-transform: uppercase; text-decoration: none; font-size: 16px; font-size: 1.6rem; }

.footer__top { height: 107px; background: #d9f0ff; border-top: 1px solid #b8d5e8; position: relative; }
.footer__top:after { content: ""; position: absolute; bottom: 0; left: 0; background: url(../img/icons/grass.png) 0px 0px repeat-x; width: 100%; height: 25px; }

.footer { background-color: #533014; background-image: linear-gradient(90deg, transparent 50%, rgba(0, 0, 0, 0.1) 50%); background-size: 150px 150px; }
.footer a { color: rgba(255, 255, 255, 0.5); text-decoration: none; font-size: 12px; font-size: 1.2rem; }
.footer a:hover { text-decoration: underline; }
.footer .logo { float: left; background: url('../img/icons-scc6848ed69.png') 0 -35px no-repeat; width: 122px; height: 21px; }
.footer .footer-i { width: 980px; margin: 0 auto; padding-top: 60px; }
.footer .footer__row { padding-bottom: 30px; *zoom: 1; }
.footer .footer__row:before, .footer .footer__row:after { content: ""; display: table; }
.footer .footer__row:after { clear: both; }
.footer .footer__label { float: left; overflow: hidden; }
.footer .footer__label_r { float: right; }
.footer .footer__nav { float: left; *zoom: 1; }
.footer .footer__nav:before, .footer .footer__nav:after { content: ""; display: table; }
.footer .footer__nav:after { clear: both; }
.footer .footer__nav li { float: left; margin-right: 20px; }
.footer .footer__copy { padding-bottom: 30px; color: rgba(255, 255, 255, 0.5); }

.help { float: left; overflow: hidden; }
.help li { float: left; margin-right: 20px; }

.social { float: right; overflow: hidden; }
.social li { float: left; margin-right: 5px; }
.social a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }

.page { width: 980px; min-height: 1180px; margin: 35px auto -135px; padding: 29px; background-color: white; -webkit-box-shadow: 0 1px 18px black; -moz-box-shadow: 0 1px 18px black; box-shadow: 0 1px 18px black; position: relative; z-index: 1666; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.page:before, .page:after { content: ""; display: table; }
.page:after { clear: both; }

.page__top { min-height: 60px; margin-bottom: 30px; background: url(../img/icons/i-indian-grass.png) 0px 50px repeat-x; }
.page__top .i-message { display: inline-block; margin-right: 5px; }
.page__top h2 { margin-bottom: 15px; display: inline-block; color: #2c7bae; font-size: 26px; font-size: 2.6rem; }

.messages { border: 1px solid #f3e2d3; }

.messages__item { *zoom: 1; border-top: 1px solid #f3e2d3; }
.messages__item:before, .messages__item:after { content: ""; display: table; }
.messages__item:after { clear: both; }
.messages__item:first-child { border-top: none; }
.messages__item.is-in .messages__item-user:after, .messages__item.is-out .messages__item-user:after { content: ""; position: absolute; right: -15px; top: 17px; }
.messages__item.is-in { position: relative; }
.messages__item.is-in .messages__item-user:after { background: url('../img/icons-scc6848ed69.png') 0 -585px no-repeat; width: 8px; height: 13px; }
.messages__item.is-out { position: relative; }
.messages__item.is-out .messages__item-user:after { background: url('../img/icons-scc6848ed69.png') 0 -608px no-repeat; width: 8px; height: 13px; }
.messages__item .messages__item-user { float: left; width: 235px; padding: 11px; font-size: 0; position: relative; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.messages__item .messages__item-user:before, .messages__item .messages__item-user:after { content: ""; display: table; }
.messages__item .messages__item-user:after { clear: both; }
.messages__item .messages__item-user .ava { float: left; }
.messages__item .messages__item-info { width: 155px; float: left; margin-left: 10px; font-size: 13px; font-size: 1.3rem; }
.messages__item .messages__item-info a { color: #27861b; font-size: 13px; font-size: 1.3rem; }
.messages__item .messages__item-row { vertical-align: middle; display: inline-block; }
.messages__item .messages__item-row .i-mess, .messages__item .messages__item-row a, .messages__item .messages__item-row span { vertical-align: middle; display: inline-block; }
.messages__item .messages__item-row .i-basc { vertical-align: top; display: inline-block; margin-right: 8px; }
.messages__item .messages__item-row .i-mess { margin-right: 5px; }
.messages__item .messages__item-row .dark-blue { text-decoration: none; }
.messages__item .messages__item-row a { margin-right: 5px; }
.messages__item .messages__item-text { padding: 11px; overflow: hidden; margin-left: 255px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 13px; font-size: 1.3rem; color: #48606f; }
.messages__item .messages__item-date { color: #999999; font-size: 11px; font-size: 1.1rem; }

.filter { padding: 20px 12px; background-color: #f8eadc; -webkit-box-shadow: inset 0 -1px 2px rgba(169, 121, 73, 0.25); -moz-box-shadow: inset 0 -1px 2px rgba(169, 121, 73, 0.25); box-shadow: inset 0 -1px 2px rgba(169, 121, 73, 0.25); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.filter .filter__search { padding: 7px 10px; outline: none; border: none; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; background-color: white; -webkit-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); -moz-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); font-size: 13px; font-size: 1.3rem; }
.filter .filter__search:-moz-placeholder, .filter .filter__search::-moz-placeholder { color: #aa6730; opacity: 1; }
.filter .filter__search::-webkit-input-placeholder { color: #aa6730; }
.filter .filter__search:focus { -webkit-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75), inset 0 0px 4px #aa6730; -moz-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75), inset 0 0px 4px #aa6730; box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75), inset 0 0px 4px #aa6730; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; }

.user-stat { margin-bottom: 20px; background: #f8eadd; -webkit-box-shadow: inset 0 -1px 2px rgba(169, 121, 73, 0.25); -moz-box-shadow: inset 0 -1px 2px rgba(169, 121, 73, 0.25); box-shadow: inset 0 -1px 2px rgba(169, 121, 73, 0.25); }
.user-stat .user-stat__top, .user-stat .user-stat__bottom { background: #f8eadd; height: 45px; display: block; position: relative; }
.user-stat .user-stat__top:hover, .user-stat .user-stat__bottom:hover { background: #f3e5d7; }
.user-stat .user-stat__top:after, .user-stat .user-stat__bottom:after { content: ""; position: absolute; top: 50%; margin-top: -5px; left: 50%; margin-left: -9px; }
.user-stat .user-stat__top:after { background: url('../img/icons-scc6848ed69.png') 0 -564px no-repeat; width: 18px; height: 11px; }
.user-stat .user-stat__bottom:after { background: url('../img/icons-scc6848ed69.png') 0 -543px no-repeat; width: 18px; height: 11px; }
.user-stat .user-stat__in { border-top: 1px solid #efd8c4; border-bottom: 1px solid #efd8c4; padding: 25px 22px 25px 17px; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.user-stat .ava { float: left; }
.user-stat .user-stat__name { width: 135px; margin-left: 10px; float: left; line-height: 1.2; color: #27861b; font-size: 13px; font-size: 1.3rem; text-decoration: underline; }
.user-stat .user-stat__name:hover { text-decoration: none; }

.ava { width: 41px; height: 41px; padding: 2px; background-color: white; -webkit-box-shadow: 0 1px 2px rgba(178, 142, 105, 0.75); -moz-box-shadow: 0 1px 2px rgba(178, 142, 105, 0.75); box-shadow: 0 1px 2px rgba(178, 142, 105, 0.75); }
.ava img { max-width: 100%; display: block; }

.l-col1 { width: 655px; }

.article { padding: 0 18px 20px 35px; margin-bottom: 22px; border-bottom: 1px solid #eaeedb; }
.article .article__top { position: relative; }
.article .article__top .article__com { position: absolute; top: 4px; right: 0; }

.h3 { position: relative; margin-right: 230px; color: #27861b; line-height: 1.2; font-size: 15px; font-weight: bold; }
.h3 .title-pic { position: absolute; top: 3px; left: -35px; display: block; background: url('../img/icons-scc6848ed69.png') 0 -436px no-repeat; width: 27px; height: 27px; }

.comments { width: 102px; font-size: 13px; color: #4a6271; }
.comments .discussion { position: relative; padding: 0 13px 0 21px; }
.comments .discussion i { position: absolute; left: 0; top: 3px; cursor: pointer; background: url('../img/icons-scc6848ed69.png') 0 -175px no-repeat; width: 15px; height: 13px; }
.comments .preview { position: absolute; padding-left: 24px; }
.comments .preview i { position: absolute; left: 0; top: 3px; cursor: pointer; background: url('../img/icons-scc6848ed69.png') 0 -87px no-repeat; width: 17px; height: 11px; }

.author, .article__author { margin-bottom: 12px; }
.author .author__pic, .article__author .author__pic { margin-right: 5px; margin-bottom: -3px; cursor: pointer; display: inline-block; }
.author .author__pic_clip, .article__author .author__pic_clip { background: url('../img/icons-scc6848ed69.png') 0 -108px no-repeat; width: 13px; height: 11px; }
.author .author__pic_locked, .article__author .author__pic_locked { background: url('../img/icons-scc6848ed69.png') 0 -152px no-repeat; width: 10px; height: 13px; }
.author .author__pic_user, .article__author .author__pic_user { padding-right: 7px; background: url('../img/icons-scc6848ed69.png') 0 -129px no-repeat; width: 12px; height: 13px; }
.author .author__data, .article__author .author__data { padding-right: 18px; color: #48606f; font-size: 10px; font-family: Arial; }
.author .author__name, .article__author .author__name { font-size: 13px; color: #ff8532; }

.article_text { color: #48606f; line-height: 1.4; font-family: Arial; font-size: 13px; }

.article_content { min-height: 300px; }
.article_content .article__image { float: left; padding-right: 14px; width: 350px; height: 300px; }

.tags { margin-top: 12px; display: inline-block; }
.tags .tags__item { position: relative; float: left; margin-right: 6px; width: 50px; height: 22px; font-size: 11px; font-weight: bold; text-decoration: none; background: #f5f7ee; display: inline-block; -webkit-border-radius: 5px; border-radius: 5px; }
.tags .tags__item:before { position: absolute; top: 50%; left: 4px; margin-top: -2.5px; height: 5px; width: 5px; background: white; -webkit-border-radius: 50%; border-radius: 50%; content: ""; }
.tags .tags__item a { padding-left: 18px; text-decoration: none; line-height: 22px; color: #27861b; }
