[class^="btn-"], [class*=" btn-"] { display: inline-block; vertical-align: middle; cursor: pointer; background: #5493e3; }
[class^="btn-"]:hover, [class*=" btn-"]:hover { background: #80afea; -moz-transition: 0.1s; -o-transition: 0.1s; -webkit-transition: 0.1s; -ms-transition: 0.1s; transition: 0.1s; }
[class^="btn-"]:active, [class*=" btn-"]:active { -webkit-transform: scale(0.97); -moz-transform: scale(0.97); -ms-transform: scale(0.97); -o-transform: scale(0.97); transform: scale(0.97); }

[class^="i-"], [class*=" i-"] { display: inline-block; vertical-align: middle; }

.i-serch { background: url('../img/icons-s457de56700.png') 0 -237px no-repeat; width: 16px; height: 18px; }

.i-home { background: url('../img/icons-s457de56700.png') 0 -265px no-repeat; width: 16px; height: 16px; }
.i-home:hover { opacity: 0.8; }

.i-vk { background: url('../img/icons-s457de56700.png') 0 -159px no-repeat; width: 16px; height: 16px; }

.i-tw { background: url('../img/icons-s457de56700.png') 0 -185px no-repeat; width: 16px; height: 16px; }

.i-fb { background: url('../img/icons-s457de56700.png') 0 -211px no-repeat; width: 16px; height: 16px; }

.i-lj { background: url('../img/icons-s457de56700.png') 0 -133px no-repeat; width: 16px; height: 16px; }

* { margin: 0; padding: 0; }

html { font-size: 62.5%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; line-height: 1.4; font-size: 14px; }

.clearfix:after { display: block; visibility: hidden; clear: both; height: 0; content: ""; font-size: 0; line-height: 0; }

html, button, input, select, textarea { color: #222222; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio, canvas, img, svg, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; overflow: auto; vertical-align: top; }

ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { border: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: yellow; color: black; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

::selection { background: blue; color: red; }

::-moz-selection { background: blue; color: red; }

html, body { height: 100%; }

a { text-decoration: underline; }
a:hover { text-decoration: none; }

.out { min-height: 100%; height: auto !important; height: 100%; overflow: hidden; }

header { width: 980px; margin: 0 auto; font-size: 0; }

.topper { padding: 18px 10px 0px; margin-bottom: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.topper:before, .topper:after { content: ""; display: table; }
.topper:after { clear: both; }

.logo { margin-right: 40px; vertical-align: middle; float: left; background: url('../img/icons-s457de56700.png') 0 -66px no-repeat; width: 229px; height: 57px; }

.search { margin-top: 13px; float: left; overflow: hidden; }
.search input { width: 425px; padding: 11px 15px; border: 1px solid #b8d5e8; border-right-width: 0px; float: left; outline: none; color: #7598af; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; font-size: 12px; font-size: 1.2rem; }
.search input::-webkit-input-placeholder { color: #7598af; }
.search input:-moz-placeholder { color: #7598af; }
.search button { width: 46px; height: 39px; float: left; background: #27861b; font-size: 0; border: none; outline: none; -webkit-border-radius: 0px 2px 2px 0; border-radius: 0px 2px 2px 0; position: relative; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; }
.search button:after { content: ""; position: absolute; top: 11px; left: 14px; background: url('../img/icons-s457de56700.png') 0 -237px no-repeat; width: 16px; height: 18px; }
.search button:hover { -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; background: #2d9b1f; }

.user { margin: 20px 30px 0 0; float: right; font-size: 13px; font-size: 1.3rem; }
.user .i-home { margin-right: 3px; }
.user .user__name { color: #27861b; font-size: 13px; cursor: pointer; position: relative; }
.user .user__name:after { content: ""; position: absolute; top: 5px; right: -15px; width: 0px; height: 0px; border-style: solid; border-width: 6px 4.5px 0 4.5px; border-color: #828e5f transparent transparent transparent; }
.user ul { display: none; }

nav { position: relative; display: inline-block; }
nav:after, nav:before { content: ""; width: 2000px; height: 42px; background: white; position: absolute; top: 0; z-index: 777; }
nav:after { right: -2000px; }
nav:before { left: -2000px; }
nav ul { list-style: none; *zoom: 1; }
nav ul:before, nav ul:after { content: ""; display: table; }
nav ul:after { clear: both; }
nav li { float: left; background: white; }
nav li.is-active { background: linear-gradient(to top, rgba(152, 180, 200, 0.2), rgba(29, 90, 135, 0.99)); z-index: 999; position: relative; }
nav li.is-active a { color: white; background: initial; }
nav a { height: 42px; line-height: 42px; padding: 0 25px; display: block; position: relative; z-index: 777; background: white; font-weight: bold; color: #27861b; text-transform: uppercase; text-decoration: none; font-size: 16px; font-size: 1.6rem; }

.footer__top { height: 107px; background: #d9f0ff; border-top: 1px solid #b8d5e8; position: relative; }
.footer__top:after { content: ""; position: absolute; bottom: 0; left: 0; background: url(../img/icons/grass.png) 0px 0px repeat-x; width: 100%; height: 25px; }

.footer { background-color: #533014; background-image: linear-gradient(90deg, transparent 50%, rgba(0, 0, 0, 0.1) 50%); background-size: 150px 150px; }
.footer a { color: rgba(255, 255, 255, 0.5); text-decoration: none; font-size: 12px; font-size: 1.2rem; }
.footer .logo { float: left; background: url('../img/icons-s457de56700.png') 0 -35px no-repeat; width: 122px; height: 21px; }
.footer .footer-i { width: 980px; margin: 0 auto; padding-top: 60px; }
.footer .footer__row { padding-bottom: 30px; *zoom: 1; }
.footer .footer__row:before, .footer .footer__row:after { content: ""; display: table; }
.footer .footer__row:after { clear: both; }
.footer .footer__label { float: left; overflow: hidden; }
.footer .footer__label_r { float: right; }
.footer .footer__nav { float: left; *zoom: 1; }
.footer .footer__nav:before, .footer .footer__nav:after { content: ""; display: table; }
.footer .footer__nav:after { clear: both; }
.footer .footer__nav li { float: left; margin-right: 20px; }
.footer .footer__copy { padding-bottom: 30px; color: rgba(255, 255, 255, 0.5); }

.help { float: left; overflow: hidden; }
.help li { float: left; margin-right: 20px; }

.social { float: right; overflow: hidden; }
.social li { float: left; margin-right: 5px; }
.social a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }

.page { min-height: 470px; margin-top: -42px; padding-top: 72px; margin-bottom: 500px; background: url(../img/bg.jpg) 0px 0px no-repeat; position: relative; z-index: 666; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.page:after { content: ""; width: 100%; height: 20px; background: linear-gradient(to top, rgba(250, 251, 253, 0.055), rgba(156, 183, 202, 0.2)); z-index: 1999; position: absolute; top: 42px; }

.page-i { width: 980px; margin: 0 auto; background-color: white; -webkit-box-shadow: 0 1px 18px black; -moz-box-shadow: 0 1px 18px black; box-shadow: 0 1px 18px black; }
