// base
// .header
	// -topper
	// -nav
// .footer
// page

///////////////////////////////// * base * ////////////////////////////////
// +selection(red, blue)
html,body
	height: 100%
a
	text-decoration: underline
	&:hover
		text-decoration: none

.dark-blue
	color: $dbl
.orange
	color: $or
.out
	min-height: 100%
	height: auto !important
	height: 100%

.bg
	min-height: 470px
	margin-top: -42px
	padding-top: 72px
	background: url(../img/bg.jpg) 0px 0px  no-repeat
	position: absolute
	top: 142px
	left: 0
	right: 0
	z-index: 666
	+cover
	&:after
		content: ""
		width: 100%
		height: 20px
		background: linear-gradient(to top, rgba(250,251,253, 0.055), rgba(156,183,202, 0.2))
		z-index: 1999
		position: absolute
		top: 42px
///////////////////////////////// * .header * ////////////////////////////////
.header
	font-size: 0
	overflow: hidden
	.header__in
		width: 980px
		margin: 0 auto
.topper
	padding: 18px 10px 0px
	margin-bottom: 25px
	+box
	+clr
.logo
	margin-right: 40px
	vertical-align: middle
	float: left
	+s(logo)
.search
	margin-top: 13px
	float: left
	overflow: hidden
	input
		width: 425px
		padding: 11px 15px
		border: 1px solid #b8d5e8
		border-right-width: 0px 
		float: left
		outline: none
		color: #7598AF
		+box
		+br(2px 0 0 2px)
		+fs(12)
	input::-webkit-input-placeholder
		color: #7598AF
	input:-moz-placeholder
		color: #7598AF
	button
		width: 46px
		height: 39px
		float: left
		background: #27861B
		font-size: 0
		border: none
		outline: none
		+br(0px 2px 2px 0)
		position: relative
		+transition(.2s)
		&:after
			content: ""
			position: absolute
			top: 11px
			left: 14px
			+s(i-search)
		&:hover
			+transition(.2s)
			background: lighten(#27861B,5%)
.user
	margin: 20px 30px 0 0
	float: right
	+fs(13)
	.i-home
		margin-right: 3px
	.user__name
		color: $gr
		font-size: 13px
		cursor: pointer
		position: relative
		&:after
			content: ""
			position: absolute
			top: 5px
			right: -15px
			+arr(9,6,#828e5f, bottom)
	ul
		display: none
		
nav
	position: relative
	display: inline-block
	&:after, &:before
		content: ""
		width: 2000px
		height: 42px
		background: #fff
		position: absolute
		top: 0
		z-index: 777
	&:after
		right: -2000px
	&:before
		left: -2000px
	ul
		list-style: none
		+clr
	li
		float: left
		background: #FFF 
		&.is-active
			background: linear-gradient(to top, rgba(152,180,200, 0.2), rgba(29,90,135, 0.99))
			z-index: 999
			position: relative
			a
				color: #fff
				background: initial 
	a
		height: 42px
		line-height: 42px
		padding: 0 25px 
		display: block
		position: relative
		z-index: 777
		background: #FFF 
		font-weight: bold
		color: $gr
		text-transform: uppercase
		text-decoration: none 
		+fs(16)
///////////////////////////////// * .footer * ////////////////////////////////
.footer__top
	height: 107px
	background: #D9F0FF
	border-top: 1px solid #b8d5e8
	position: relative
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0
		background: url(../img/icons/grass.png) 0px 0px  repeat-x
		width: 100%
		height: 25px
.footer
	background-color: #533014
	background-image: linear-gradient(90deg, transparent 50%, rgba(0,0,0,.1) 50%)
	background-size: 150px 150px
	a
		color: rgba(255,255,255, .5)
		text-decoration: none
		&:hover
			text-decoration: underline
		+fs(12)
	.logo
		float: left
		+s(footer-logo)
	.footer-i
		width: 980px
		margin: 0 auto
		padding-top: 60px
	.footer__row
		padding-bottom: 30px
		+clr
	.footer__label
		float: left
		overflow: hidden
	.footer__label_r
		float: right
	.footer__nav
		float: left
		+clr
		li
			float: left
			margin-right: 20px
	.footer__copy
		padding-bottom: 30px
		color: rgba(255,255,255, .5)
.help
	float: left
	overflow: hidden
	li
		float: left
		margin-right: 20px
.social
	float: right
	overflow: hidden
	li
		float: left
		margin-right: 5px
	a
		&:hover
			+opacity(0.8) 
///////////////////////////////// * page * ////////////////////////////////
.page
	width: 980px
	min-height: 1180px
	margin: 35px auto -135px
	padding: 29px
	background-color: #fff
	@include box-shadow(0 1px 18px #000)
	position: relative
	z-index: 1666
	+box
	+clr
.page__top
	min-height: 60px
	margin-bottom: 30px
	background: url(../img/icons/indian-grass.png) 0px 50px  repeat-x
	.i-message
		display: inline-block
		margin-right: 5px
	h2
		margin-bottom: 15px
		display: inline-block
		color: $bl
		+fs(26) 