.l-col1
	width: 655px
	
.article
	padding: 0 18px 20px 35px
	margin-bottom: 22px 
	border-bottom: 1px solid #eaeedb 
	.article__top
		position: relative
		.article__com
			position: absolute
			top: 4px
			right: 0

.h3
	position: relative
	margin-right: 230px
	color: #27861B
	line-height: 1.2
	font-size: 15px
	font-weight: bold
	.title-pic
		position: absolute
		top: 3px
		left: -35px
		display: block
		+s(title-pic)

.comments
	width: 102px
	font-size: 13px
	color: #4A6271  
	.discussion
		position: relative
		padding: 0 13px 0 21px
		i
			position: absolute
			left: 0
			top: 3px
			cursor: pointer
			+s(discussion)
	.preview
		position: absolute
		padding-left: 24px
		i
			position: absolute
			left: 0
			top: 3px 
			cursor: pointer
			+s(preview)

.author,
.article__author
	margin-bottom: 12px
	.author__pic
		margin-right: 5px
		margin-bottom: -3px 
		cursor: pointer
		display: inline-block
	.author__pic_clip
		+s(clip)
	.author__pic_locked
		+s(locked)
	.author__pic_user
		padding-right: 7px 
		+s(user)
	.author__data
		padding-right: 18px
		color: #48606f
		font-size: 10px
		font-family: Arial   
	.author__name
		font-size: 13px
		color: #FF8532 

.article_text
	color: #48606F
	line-height: 1.4
	font-family: Arial
	font-size: 13px 
.article_content
	min-height: 300px
	.article__image
		float: left
		padding-right: 14px
		width: 350px
		height: 300px
	
.tags
	margin-top: 12px
	display: inline-block
	.tags__item
		position: relative
		float: left
		margin-right: 6px
		width: 50px
		height: 22px
		font-size: 11px
		font-weight: bold
		text-decoration: none 
		background: #F5F7EE
		display: inline-block
		+br(5px)
		&:before
			position: absolute
			top: 50%
			left: 4px
			margin-top: -2.5px
			height: 5px
			width: 5px
			background: #FFF 
			+br(50%)
			content: ""
		a
			padding-left: 18px 
			text-decoration: none
			line-height: 22px
			color: #27861B 