// messages
// filter
// user-stat
//

///////////////////////////////// *  * ////////////////////////////////

///////////////////////////////// * messages * ////////////////////////////////
.messages
	// padding: 15px 20px
	border: 1px solid #f3e2d3
	+clr
	+box
	.btn-middle
		float: right
		margin: 0 22px 17px 0
.messages__item
	+clr
	border-top: 1px solid #F3E2D3
	&:first-child
		border-top: none 
	&.is-in, &.is-out
		.messages__item-user
			&:after
				content: ""
				position: absolute
				right: 0px
				top: 17px
	&.is-in
		position: relative
		.messages__item-user
			&:after
				+s(i-arr_l)
	&.is-out
		position: relative
		.messages__item-user
			&:after
				+s(i-arr_r)
	.messages__item-user
		float: left
		width: 235px
		padding: 11px
		font-size: 0
		position: relative
		+clr
		+box
		.ava
			float: left
	.messages__item-info
		width: 155px
		float: left
		margin-left: 10px
		+fs(13)
		a
			color: $gr
			+fs(13) 
	.messages__item-row
		vertical-align: middle
		display: inline-block
		.i-mess, a, span
			vertical-align: middle
			display: inline-block
		.i-basc
			vertical-align: top
			display: inline-block
			margin-right: 8px
		.i-mess
			margin-right: 5px
		.dark-blue
			text-decoration: none
		a
			margin-right: 5px
	.messages__item-text
		padding: 11px
		overflow: hidden
		+box
		+fs(13)
		color: #48606F 
	.messages__item-date
		color: #999
		+fs(11)

.messages__item_mod
	margin: 0px 75px 20px 20px
	border: 1px solid #f3e2d3
	&:first-child
		border-top: 1px solid #f3e2d3
.messages__item_repply
	margin: 0 15px 20px 80px
	background: #FFF6EE
	border: none

.messages__next
	margin: 5px 20px 15px 0
	display: block
	text-align: right
	color: $or 

///////////////////////////////// * filter * ////////////////////////////////
.filter
	padding: 20px 12px
	background-color: #f8eadc
	@include box-shadow(inset 0 -1px 2px rgba(169,121,73,.25))
	+box
	.filter__search
		padding: 7px 10px
		outline: none
		border: none
		+transition(.2s)
		background-color: #fff
		@include box-shadow(inset 0 0 4px rgba(166,97,60,.75))
		+fs(13)
		+placeholder(#aa6730)
		&:focus
			+box-shadow(inset 0 0 4px rgba(166,97,60,.75), inset 0 0px 4px #aa6730)
			+transition(.2s)

///////////////////////////////// * user-stat * ////////////////////////////////
.user-stat
	margin-bottom: 20px
	background: #f8eadd
	@include box-shadow(inset 0 -1px 2px rgba(169,121,73,.25))
	.user-stat__top, .user-stat__bottom
		background: #f8eadd
		height: 45px
		display: block
		position: relative
		&:hover
			background: #f3e5d7 
		&:after
			content: ""
			position: absolute
			top: 50%
			margin-top: -5px 
			left: 50%
			margin-left: -9px
	.user-stat__top
		&:after
			+s(i-arr_t)
	.user-stat__bottom
		&:after
			+s(i-arr_b)
	.user-stat__in
		border-top: 1px solid #EFD8C4 
		border-bottom: 1px solid #EFD8C4 
		padding: 25px 22px 25px 17px
		overflow: hidden
		+box
	.ava
		float: left
	.user-stat__name
		width: 135px
		margin-left: 10px
		float: left
		line-height: 1.2
		color: $gr
		+fs(13)
		text-decoration: underline 
		&:hover
			text-decoration: none
// .ava
.ava
	width: 41px
	height: 41px
	padding: 2px
	background-color: #fff
	@include box-shadow(0 1px 2px rgba(178,142,105,.75))
	img
		max-width: 100%
		display: block
