// select
// .input & .reset
// select-checkbox
// select-radio

///////////////////////////////// * select * ////////////////////////////////

///////////////////////////////// * input * ////////////////////////////////
.input
	padding: 5px 10px
	outline: none
	border: 1px solid #c6c6c6
	+br(10px)
	+transition(.2s)
	+fs(12)
	&:focus
		border-color: rgba(82, 168, 236, 0.8)
		+box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6))
		+transition(.2s)