[class^="i-"], [class*=" i-"]
	display: inline-block
	vertical-align: middle

.i-serch
	+s(i-search)
.i-home
	+s(i-home)
	&:hover
		opacity: 0.8
.i-home_red
	+s(i-home_red)
.i-home_green
	+s(i-home_green)
.i-vk
	+s(i-vk)
.i-tw
	+s(i-tw)
.i-fb
	+s(i-fb)
.i-lj
	+s(i-lj)
.i-message
	+s(i-message)
.i-indian-grass
	+s(i-indian-grass)
.i-mess
	+s(i-mess)
.i-chat
	+s(i-chat)
.i-basc
	+s(i-basc)
.i-tree
	+s(i-tree)
.i-clip
	+s(i-clip)
.i-clip2
	+s(i-clip2)
.i-close
	+s(i-close)
.i-pen
	+s(i-pen)
.i-comm
	+s(i-comm)
.i-comm_mod
	+s(i-comm_mod)
.i-user
	+s(i-user)
.i-media
	+s(i-media)
.i-border
	+s(i-border)
.i-comm2
	+s(i-comm2)
.i-views
	+s(i-views)
.i-views_mod
	+s(i-views_mod)
.i-lock
	+s(i-lock)
.i-arr_l
	+s(i-arr_l)
.i-arr_r
	+s(i-arr_r)
.i-arr_t
	+s(i-arr_t)
.i-pag_prew
	+s(i-pag_prew)
.i-pag_next
	+s(i-pag_next)





	
