[class^="i-"], [class*=" i-"]
	display: inline-block
	vertical-align: middle

.i-serch
	+s(i-search)
.i-home
	+s(i-home)
	&:hover
		opacity: 0.8
.i-vk
	+s(i-vk)
.i-tw
	+s(i-tw)
.i-fb
	+s(i-fb)
.i-lj
	+s(i-lj)




	
