[class^="btn-"], [class*=" btn-"] { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline-block; vertical-align: middle; cursor: pointer; text-transform: uppercase; color: white; -webkit-border-radius: 4px; border-radius: 4px; }
[class^="btn-"]:hover, [class*=" btn-"]:hover { -moz-transition: 0.1s; -o-transition: 0.1s; -webkit-transition: 0.1s; -ms-transition: 0.1s; transition: 0.1s; }
[class^="btn-"]:active, [class*=" btn-"]:active { -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); transform: scale(0.95); }

.btn-middle { padding: 5px 15px; font-size: 11px; font-size: 1.1rem; }

.btn-small { padding: 3px 7px; font-size: 9px; font-size: 0.9rem; }

.btn-orange { background: #ff8532; color: white; outline: none; border: none; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); font-family: Arial, Tahoma, sans-serif; }
.btn-orange:hover { background: #ff944c; }

.btn_mess2 { float: right; margin: 0 22px 17px 0; }

.btn-save { margin-bottom: 20px; }

[class^="i-"], [class*=" i-"] { display: inline-block; vertical-align: middle; }

.i-title-pic { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2160px no-repeat; width: 27px; height: 27px; }

.i-serch { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2132px no-repeat; width: 16px; height: 18px; }

.i-add { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1167px no-repeat; width: 27px; height: 29px; }
.i-add:active { -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); transform: scale(0.95); }

.i-home { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2197px no-repeat; width: 16px; height: 16px; }
.i-home:hover { opacity: 0.8; }

.i-home_mod { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -331px no-repeat; width: 40px; height: 29px; }

.i-home_red { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1081px no-repeat; width: 16px; height: 16px; }

.i-home_green { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1141px no-repeat; width: 16px; height: 16px; }

.i-home_blue { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1635px no-repeat; width: 12px; height: 12px; }

.i-news-letter { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -166px no-repeat; width: 39px; height: 32px; }

.i-vk { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1959px no-repeat; width: 16px; height: 16px; }

.i-tw { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1985px no-repeat; width: 16px; height: 16px; }

.i-fb { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2011px no-repeat; width: 16px; height: 16px; }

.i-lj { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1894px no-repeat; width: 16px; height: 16px; }

.i-mail_or { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -971px no-repeat; width: 15px; height: 11px; }

.i-message { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1920px no-repeat; width: 37px; height: 29px; }

.i-indian-grass { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -550px no-repeat; width: 31px; height: 11px; }

.i-grass-mod { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -526px no-repeat; width: 34px; height: 14px; }

.i-mess { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2223px no-repeat; width: 12px; height: 10px; }

.i-mess2 { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1811px no-repeat; width: 8px; height: 6px; }

.i-chat { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -804px no-repeat; width: 34px; height: 27px; }

.i-info { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -841px no-repeat; width: 14px; height: 14px; }

.i-map { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2037px no-repeat; width: 18px; height: 19px; }

.i-map_blue { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -992px no-repeat; width: 11px; height: 17px; }

.i-koord { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -755px no-repeat; width: 16px; height: 16px; }

.i-interview_border { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -887px no-repeat; width: 17px; height: 14px; }

.i-basc { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2291px no-repeat; width: 11px; height: 14px; }

.i-tree { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2465px no-repeat; width: 12px; height: 17px; }

.i-clip { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -129px no-repeat; width: 27px; height: 27px; }

.i-clip2 { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -649px no-repeat; width: 18px; height: 18px; }

.i-clip3 { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1443px no-repeat; width: 13px; height: 11px; }

.i-close { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1329px no-repeat; width: 15px; height: 15px; }

.i-ok { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2357px no-repeat; width: 14px; height: 12px; }

.i-arr_gr { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1421px no-repeat; width: 14px; height: 12px; }

.i-not { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2243px no-repeat; width: 15px; height: 15px; }

.i-pen { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1396px no-repeat; width: 15px; height: 15px; }

.i-comm { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1573px no-repeat; width: 15px; height: 13px; }

.i-comm_mod { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1524px no-repeat; width: 17px; height: 16px; }

.i-user { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1225px no-repeat; width: 15px; height: 16px; }

.i-user2 { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1550px no-repeat; width: 12px; height: 13px; }

.i-user_gr { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -865px no-repeat; width: 19px; height: 12px; }

.i-media { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -66px no-repeat; width: 53px; height: 53px; }

.i-edit { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1107px no-repeat; width: 25px; height: 24px; }

.i-border { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1464px no-repeat; width: 25px; height: 10px; }

.i-comm2 { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2420px no-repeat; width: 12px; height: 12px; }

.i-views { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -911px no-repeat; width: 17px; height: 11px; }

.i-list { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1680px no-repeat; width: 14px; height: 11px; }

.i-list2 { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1042px no-repeat; width: 28px; height: 29px; }
.i-list2:active { -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); transform: scale(0.95); }

.i-list3 { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1763px no-repeat; width: 13px; height: 15px; }

.i-settings { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -208px no-repeat; width: 42px; height: 35px; }

.i-settings2 { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1019px no-repeat; width: 12px; height: 13px; }

.i-tag { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1596px no-repeat; width: 6px; height: 6px; }

.i-views_mod { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -781px no-repeat; width: 20px; height: 13px; }

.tags-block_arr { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -409px no-repeat; width: 11px; height: 29px; }

.i-lock { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1484px no-repeat; width: 10px; height: 13px; }

.i-lock2 { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2268px no-repeat; width: 10px; height: 13px; }

.i-del { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1657px no-repeat; width: 9px; height: 13px; }

.i-cross { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1206px no-repeat; width: 9px; height: 9px; }

.i-arr_l { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2397px no-repeat; width: 8px; height: 13px; }

.i-arr_r { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2442px no-repeat; width: 8px; height: 13px; }

.i-arr_t { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2336px no-repeat; width: 18px; height: 11px; }

.i-pag_prew { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1732px no-repeat; width: 21px; height: 21px; }

.i-pag_next { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1701px no-repeat; width: 21px; height: 21px; }

[class^="b-"], [class*=" b-"] { display: inline-block; vertical-align: middle; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; }
[class^="b-"]:hover, [class*=" b-"]:hover { -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.b-bold { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -571px no-repeat; width: 29px; height: 29px; }

.b-italic { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -370px no-repeat; width: 29px; height: 29px; }

.b-underline { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -448px no-repeat; width: 29px; height: 29px; }

.b-img { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -292px no-repeat; width: 29px; height: 29px; }

.b-rec { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -487px no-repeat; width: 29px; height: 29px; }

.b-link { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -253px no-repeat; width: 29px; height: 29px; }

.b-calc { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1251px no-repeat; width: 29px; height: 29px; }

.b-help { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -716px no-repeat; width: 29px; height: 29px; }

.b-left { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -610px no-repeat; width: 29px; height: 29px; }

.b-right { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -677px no-repeat; width: 29px; height: 29px; }

.b-list { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -932px no-repeat; width: 29px; height: 29px; }

.b-html { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1375px no-repeat; width: 16px; height: 11px; }

[class^="t-"], [class*=" t-"] { display: inline-block; vertical-align: top; cursor: pointer; }

[class^="label-"], [class*="label-"] { padding: 3px 6px; color: white; font-style: normal; -webkit-border-radius: 2px; border-radius: 2px; font-size: 11px; font-size: 1.1rem; font-family: Arial, Tahoma, sans-serif; }

.label-green { background: #27861b; }

.label-num { height: 18px; line-height: 18px; padding: 0px 6px; display: inline-block; position: relative; color: #48606f; font-weight: bold; vertical-align: middle; background: #e9f3e8; font-size: 13px; font-size: 1.3rem; -webkit-border-radius: 0px; border-radius: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.label-num:after { content: ""; position: absolute; left: -4px; top: 0; width: 0px; height: 0px; border-style: solid; border-width: 9px 4px 9px 0; border-color: transparent #e9f3e8 transparent transparent; }

.i-grass-mod_bg { width: 100%; height: 14px; margin-bottom: 20px; background: url(../img/icons/i-grass-mod.png) 0px 0px repeat; }

.input { padding: 6px 15px; outline: none; border: 1px solid #b8d5e8; -webkit-border-radius: 2px; border-radius: 2px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 15px; font-size: 1.5rem; color: #27861b; }
.input:-moz-placeholder, .input::-moz-placeholder { color: #27861b; opacity: 1; }
.input::-webkit-input-placeholder { color: #27861b; }

.input_select { width: 100% !important; font-size: 15px !important; border: 1px solid #b8d5e8 !important; background: white !important; }

.custom-combobox { display: block; position: relative; }
.custom-combobox .ui-button { position: absolute; z-index: 20; right: 12px; top: 50%; margin-top: -4px; content: ""; background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1507px no-repeat; width: 9px; height: 7px; width: 10px !important; height: 10px !important; border: none !important; border-radius: 0 !important; }

.input_w100 { width: 100%; }

.input_mini { width: 135px; }

.input_note { margin-bottom: 20px; color: #27861b; font-weight: bold; font-family: Arial, Tahoma, sans-serif; font-size: 15px; font-size: 1.5rem; }
.input_note:-moz-placeholder, .input_note::-moz-placeholder { color: #27861b; opacity: 1; }
.input_note::-webkit-input-placeholder { color: #27861b; }

.input_green { outline: none; border: none; padding: 6px 5px; background-color: #e0e4d3; color: #828e5f; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.input_brown { font-weight: bold; color: #48606f; border: none; -webkit-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); -moz-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); font-size: 14px; font-size: 1.4rem; font-family: Arial, Tahoma, sans-serif; }
.input_brown:-moz-placeholder, .input_brown::-moz-placeholder { color: #48606f; opacity: 1; }
.input_brown::-webkit-input-placeholder { color: #48606f; }

.load-file { overflow: hidden; }
.load-file .input { width: 130px; padding: 7px; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.load-file .load-file__label { width: 73px; height: 28px; margin-top: 2px; margin-left: 15px; float: right; position: relative; }
.load-file .load-file__label .load-file__file { width: 100%; height: 100%; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: relative; z-index: 999; }
.load-file .load-file__label .load-file__btn { width: 100%; height: 100%; background: #8bb985; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75); font-size: 11px; font-size: 1.1rem; font-family: Arial, Tahoma, sans-serif; position: absolute; top: 0; left: 0; z-index: 666; outline: none; border: none; }

.select { padding: 0px; height: 32px; line-height: 30px; position: relative; color: #27861b; background-color: white; border: 1px solid #b8d5e8; -webkit-border-radius: 2; border-radius: 2; font-size: 15px; font-size: 1.5rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.select:hover { cursor: pointer; }
.select span { display: block; padding: 0px 32px 0 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.select em { font-style: normal; }
.select i { position: absolute; right: 12px; top: 50%; margin-top: -4px; content: ""; background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1507px no-repeat; width: 9px; height: 7px; }
.select.is-open .select__drop { display: block; }
.select.is-open i { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.select .select__drop { border: 1px solid #b8d5e8; display: none; position: absolute; top: 100%; left: -1px; width: 100%; z-index: 666; background: white; }
.select ul { margin: 0; }
.select li { padding: 0px 10px; }
.select li:hover { background-color: #e9e9e9; cursor: pointer; }
.select li span { padding: 0; }

.select_inb { display: inline-block; }

.select_day { width: 60px; }

.select_month { width: 135px; }

.select_year { width: 77px; }

.select_date { width: 85px; }

.select_brown { line-height: 32px; font-weight: bold; color: #48606f; border: none; font-family: Arial, Tahoma, sans-serif; font-size: 14px; font-size: 1.4rem; -webkit-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); -moz-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); }
.select_brown .select__drop { border: none; -webkit-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); -moz-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); left: 0; }
.select_brown li:hover { background: #f3e6da; -webkit-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); -moz-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); }

.select_green { border: none; background-color: #e0e4d4; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); }
.select_green .select__drop { border: none; left: 0; background-color: #e0e4d4; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); }
.select_green i { background: url('../../img/icons-s8dbdd7a8b1.png') 0 -1507px no-repeat; width: 9px; height: 7px; }
.select_green li:hover { background-color: white; }

.select-checkbox { position: relative; display: inline-block; cursor: pointer; }
.select-checkbox span { display: inline-block; margin-left: 9px; color: #48606f; font-family: Arial, Tahoma, sans-serif; font-size: 13px; font-size: 1.3rem; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.select-checkbox input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.select-checkbox input + span:before { content: ""; position: absolute; top: 0px; left: 0px; width: 18px; height: 18px; background-color: #e0e4d3; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35); }
.select-checkbox input:checked + span:after { content: ""; position: absolute; top: 6px; left: 4px; background: url('../../img/icons-s8dbdd7a8b1.png') 0 -2379px no-repeat; width: 9px; height: 8px; }

.select-checkbox_mod input + span:before { background: white; border: 1px solid #b8d5e8; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.wrap-radio { margin-right: 25px; float: left; }

.select-radio { color: #48606f; font-weight: bold; position: relative; display: inline-block; min-width: 100%; cursor: pointer; font-size: 14px; font-size: 1.4rem; font-family: Arial, Tahoma, sans-serif; }
.select-radio span { display: inline-block; margin-top: 4px; margin-left: 6px; }
.select-radio input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: relative; }
.select-radio input + span { color: #48606f; }
.select-radio input + span:before { content: ""; position: absolute; top: 3px; left: 0px; width: 20px; height: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 50%; background: white; opacity: 1; -webkit-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); -moz-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); }
.select-radio input:checked + span:after { content: ""; position: absolute; top: 9px; left: 6px; width: 8px; height: 8px; border-radius: 50%; background: #9a5f2b; }

.textarea { width: 100%; min-height: 120px; padding: 10px; border: 1px solid #b8d5e8; color: #48606f; outline: none; font-family: Arial, Tahoma, sans-serif; font-size: 15px; font-size: 1.5rem; -webkit-border-radius: 2; border-radius: 2; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.textarea_brown { border: none; -webkit-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); -moz-box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); box-shadow: inset 0 0 4px rgba(166, 97, 60, 0.75); }
