[class^="btn-"], [class*=" btn-"] { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline-block; vertical-align: middle; cursor: pointer; text-transform: uppercase; color: white; -webkit-border-radius: 4px; border-radius: 4px; }
[class^="btn-"]:hover, [class*=" btn-"]:hover { -moz-transition: 0.1s; -o-transition: 0.1s; -webkit-transition: 0.1s; -ms-transition: 0.1s; transition: 0.1s; }
[class^="btn-"]:active, [class*=" btn-"]:active { -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); transform: scale(0.95); }

.btn-middle { padding: 5px 15px; font-size: 11px; font-size: 1.1rem; }

.btn-small { padding: 3px 7px; font-size: 9px; font-size: 0.9rem; }

.btn-orange { background: #ff8532; color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); font-family: Arial, Tahoma, sans-serif; }
.btn-orange:hover { background: #ff944c; }

.btn_mess2 { float: right; margin: 0 22px 17px 0; }

[class^="i-"], [class*=" i-"] { display: inline-block; vertical-align: middle; }

.i-serch { background: url('../../img/icons-s5fcacf50d8.png') 0 -822px no-repeat; width: 16px; height: 18px; }

.i-home { background: url('../../img/icons-s5fcacf50d8.png') 0 -850px no-repeat; width: 16px; height: 16px; }
.i-home:hover { opacity: 0.8; }

.i-home_red { background: url('../../img/icons-s5fcacf50d8.png') 0 -296px no-repeat; width: 16px; height: 16px; }

.i-home_green { background: url('../../img/icons-s5fcacf50d8.png') 0 -356px no-repeat; width: 16px; height: 16px; }

.i-vk { background: url('../../img/icons-s5fcacf50d8.png') 0 -744px no-repeat; width: 16px; height: 16px; }

.i-tw { background: url('../../img/icons-s5fcacf50d8.png') 0 -770px no-repeat; width: 16px; height: 16px; }

.i-fb { background: url('../../img/icons-s5fcacf50d8.png') 0 -796px no-repeat; width: 16px; height: 16px; }

.i-lj { background: url('../../img/icons-s5fcacf50d8.png') 0 -679px no-repeat; width: 16px; height: 16px; }

.i-message { background: url('../../img/icons-s5fcacf50d8.png') 0 -705px no-repeat; width: 37px; height: 29px; }

.i-indian-grass { background: url('../../img/icons-s5fcacf50d8.png') 0 -166px no-repeat; width: 31px; height: 11px; }

.i-mess { background: url('../../img/icons-s5fcacf50d8.png') 0 -876px no-repeat; width: 12px; height: 10px; }

.i-chat { background: url('../../img/icons-s5fcacf50d8.png') 0 -238px no-repeat; width: 34px; height: 27px; }

.i-basc { background: url('../../img/icons-s5fcacf50d8.png') 0 -896px no-repeat; width: 11px; height: 14px; }

.i-tree { background: url('../../img/icons-s5fcacf50d8.png') 0 -1030px no-repeat; width: 12px; height: 17px; }

.i-clip { background: url('../../img/icons-s5fcacf50d8.png') 0 -129px no-repeat; width: 27px; height: 27px; }

.i-clip2 { background: url('../../img/icons-s5fcacf50d8.png') 0 -187px no-repeat; width: 18px; height: 18px; }

.i-close { background: url('../../img/icons-s5fcacf50d8.png') 0 -408px no-repeat; width: 15px; height: 15px; }

.i-pen { background: url('../../img/icons-s5fcacf50d8.png') 0 -433px no-repeat; width: 15px; height: 15px; }

.i-comm { background: url('../../img/icons-s5fcacf50d8.png') 0 -527px no-repeat; width: 15px; height: 13px; }

.i-comm_mod { background: url('../../img/icons-s5fcacf50d8.png') 0 -501px no-repeat; width: 17px; height: 16px; }

.i-user { background: url('../../img/icons-s5fcacf50d8.png') 0 -382px no-repeat; width: 15px; height: 16px; }

.i-media { background: url('../../img/icons-s5fcacf50d8.png') 0 -66px no-repeat; width: 53px; height: 53px; }

.i-edit { background: url('../../img/icons-s5fcacf50d8.png') 0 -322px no-repeat; width: 25px; height: 24px; }

.i-border { background: url('../../img/icons-s5fcacf50d8.png') 0 -458px no-repeat; width: 25px; height: 10px; }

.i-comm2 { background: url('../../img/icons-s5fcacf50d8.png') 0 -985px no-repeat; width: 12px; height: 12px; }

.i-views { background: url('../../img/icons-s5fcacf50d8.png') 0 -275px no-repeat; width: 17px; height: 11px; }

.i-views_mod { background: url('../../img/icons-s5fcacf50d8.png') 0 -215px no-repeat; width: 20px; height: 13px; }

.i-lock { background: url('../../img/icons-s5fcacf50d8.png') 0 -478px no-repeat; width: 10px; height: 13px; }

.i-arr_l { background: url('../../img/icons-s5fcacf50d8.png') 0 -962px no-repeat; width: 8px; height: 13px; }

.i-arr_r { background: url('../../img/icons-s5fcacf50d8.png') 0 -1007px no-repeat; width: 8px; height: 13px; }

.i-arr_t { background: url('../../img/icons-s5fcacf50d8.png') 0 -941px no-repeat; width: 18px; height: 11px; }

.i-pag_prew { background: url('../../img/icons-s5fcacf50d8.png') 0 -581px no-repeat; width: 21px; height: 21px; }

.i-pag_next { background: url('../../img/icons-s5fcacf50d8.png') 0 -550px no-repeat; width: 21px; height: 21px; }
