[class^="btn-"], [class*=" btn-"] { display: inline-block; vertical-align: middle; cursor: pointer; background: #5493e3; }
[class^="btn-"]:hover, [class*=" btn-"]:hover { background: #80afea; -moz-transition: 0.1s; -o-transition: 0.1s; -webkit-transition: 0.1s; -ms-transition: 0.1s; transition: 0.1s; }
[class^="btn-"]:active, [class*=" btn-"]:active { -webkit-transform: scale(0.97); -moz-transform: scale(0.97); -ms-transform: scale(0.97); -o-transform: scale(0.97); transform: scale(0.97); }

[class^="i-"], [class*=" i-"] { display: inline-block; vertical-align: middle; }

.i-serch { background: url('../../img/icons-s37f705c87b.png') 0 -297px no-repeat; width: 16px; height: 18px; }

.i-home { background: url('../../img/icons-s37f705c87b.png') 0 -325px no-repeat; width: 16px; height: 16px; }
.i-home:hover { opacity: 0.8; }

.i-vk { background: url('../../img/icons-s37f705c87b.png') 0 -219px no-repeat; width: 16px; height: 16px; }

.i-tw { background: url('../../img/icons-s37f705c87b.png') 0 -245px no-repeat; width: 16px; height: 16px; }

.i-fb { background: url('../../img/icons-s37f705c87b.png') 0 -271px no-repeat; width: 16px; height: 16px; }

.i-lj { background: url('../../img/icons-s37f705c87b.png') 0 -154px no-repeat; width: 16px; height: 16px; }

.i-message { background: url('../../img/icons-s37f705c87b.png') 0 -180px no-repeat; width: 37px; height: 29px; }

.input { padding: 5px 10px; outline: none; border: 1px solid #c6c6c6; -webkit-border-radius: 10px; border-radius: 10px; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; font-size: 12px; font-size: 1.2rem; }
.input:focus { border-color: rgba(82, 168, 236, 0.8); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; }
